.contacts {
  height: 100vh;
  scroll-snap-align: start;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
}
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    height: 100%;
  }
}

.left {
  flex: 1;
  background-color: #e8eddf;
  padding: 50px 30px;
}
.formBox {
  padding: 30px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .left {
    padding-bottom: 15px;
  }
}

.right {
  flex: 1;
  background-color: #f5cb5c;
  width: 100%;
  padding: 100px 50px 0 0;

  position: relative;
  text-align: end;
}
@media (max-width: 768px) {
  .right {
    width: 90%;
    height: 90%;
  }
}

.right h1 {
  font-size: 100px;
  font-family: "Abril Fatface", cursive;
  letter-spacing: 2px;
  color: #242423;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}

.title {
  color: #242423;
}

.inputItem {
  position: relative;
  width: 100%;
}

input {
  display: block;
  margin: 0 auto;
  width: 90%;
  padding: 15px;
  border: none;
  border-bottom: 2px solid #242423;
  margin-bottom: 30px;
  color: #333533;
  font-size: 17px;
  z-index: 99;
  background-color: #e8eddf;
}
input:focus {
  outline: none;
}

input:focus ~ span {
  transform: translateY(-35px);
  font-size: 13px;
  background-color: #333533;
  border-radius: 5px;
  color: #e8eddf;
}
input:valid ~ span {
  transform: translateY(-35px);
  font-size: 13px;
  background-color: #333533;
  border-radius: 5px;
  color: #e8eddf;
}

form span {
  background-color: #e8eddf;
  color: #333533;
  position: absolute;
  top: 4px;
  left: 12px;
  padding: 5px 10px;
  margin: 10px 0;
  transition: all 400ms ease;
  pointer-events: none;
}

textarea {
  width: 90%;
  padding: 15px;
  background-color: #e8eddf;
  border: 2px solid #242423;
  border-radius: 5px;
  color: #242423;
  font-size: 17px;
}
button {
  border-radius: 5px;
  padding: 15px;
  border: none;
  width: 97%;
  margin: 20px 0;
  color: #e8eddf;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 2px;
  background-color: #333533;
  cursor: pointer;
}

.ThanksBox {
  color: #333533;
  font-family: "DynaPuff", cursive;
  font-size: 13px;
  background-color: #3335335b;
  padding: 10px;
  width: fit-content;
  margin: auto;
  border-radius: 50px;
  animation: ok 300ms ease-out;
}
.senderName {
  text-transform: uppercase;
  padding: 2px;
  border-bottom: 3px solid #f5cb5c;
}
.custom-loader {
  margin: 0 auto;
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, #766df4 90%, #0000) 0% 50%,
    radial-gradient(circle closest-side, #766df4 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, #766df4 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: d3 1s infinite linear;
}
@keyframes d3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

@keyframes ok {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
